*.sln
*.swp
Binaries/
Intermediate/
Saved/
Debug/
DerivedDataCache/
Build/
.vs/
*.pri
Makefile
CMakeLists.txt
.idea/
.kdev4/
.vscode/
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.clang_completer
